* {
    font-family: 'Fredoka', sans-serif;
    color: #e1eeff;
}

body {
    display: flex;
    background-color: #16161d;
    height: 97vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 375px;
    height: 600px;
    background-color: #e1eeff;
    border: 8px solid #e1eeff;
    transition: transform 1s ease;
    border-radius: 35px;
    -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, -50px 50px 50px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, -50px 50px 50px 5px rgba(0,0,0,0);
}

@media (max-width: 500px) { 
    .container {
        display: flex;
        flex-direction: column;
        width: 60vw;
        gap: 15px;
        max-width: 500px;
        height: 45vh;
        max-height: 800px;
        background-color: #e1eeff;
        border: 8px solid #e1eeff;
        transition: transform 1s ease;
        border-radius: 35px;
        -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, -50px 50px 50px 5px rgba(0,0,0,0); 
        box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, -50px 50px 50px 5px rgba(0,0,0,0);

    }
}

.rotated {
    transform: rotate(-180deg);
}

.container button {
    margin: 5px;
    background-color: #16161d;
    border: none;
    border-radius: 15px;
    transition: transform 0.1s ease;
}

.container button:hover {
    transform: scale(1.1);
}

.output {
    display: flex;
    justify-content: right;
    align-items: center;
    flex: 1.2;
    font-size: 5vmin;
    background-color: #16161d;
    margin: 10px;
    border-radius: 35px;
    padding: 15px;
}

.operators {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
}

.digits {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 4.5;
}

.digit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
    font-size: 5vmin;
}

.operator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 5vmin;
}