* {
    /* color: #ddddcd; */
}

body {
    display: flex;
    background-color: #ddddcd;
    border: 2px red solid;
    height: 97vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 60vw;
    max-width: 500px;
    height: 80vh;
    max-height: 800px;
    border: 2px solid red;
}

.container div {
    border: 2px solid red;
    margin: 5px;
}

.output {
    flex: 1;
}

.operators {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
}

.digits {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 5;
}

.digit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28%;
}

.operator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}